ul{
    list-style-type: none;
    font-size: 14px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}
li a{
    text-decoration: none;
    color: #666;
    padding: 25px;
    display: block;
}
a{
    text-decoration: none;
    color: #666;
    padding: 25px;
    display: block;
}
.actual{
    background-color: #f08ada;
    color:antiquewhite;
}
li a:hover{
    background-color: #f08ada;
    color:antiquewhite;
}
.mostrar{
    position: absolute;
    overflow: hidden;
    display: none;
}
.accion:hover .mostrar{
    display: block; 
}
h1{ 
    text-align: center;
    background-color: rgb(206, 77, 178);
    color: aliceblue;
}
footer{
    clear: both;
}
.footer{
    width: 33.33%;
    float: left;
    background-color: #f08ada;
    color: aliceblue;
    margin-top: 50px;
}
h2,.footer p{
    text-align: center;
    color: aliceblue;
}
.images{
    float: right;
    padding-right: 25%;
    margin-top: fr1 ;
}
h3{ 
    text-align: center;
    color : rgb(206, 77, 178);
}
.container{
   padding: 4%;
}
